<div class="container mt-4">

  <h2 class="text-center mb-4">
    Agenda de Contatos
  </h2>

  <form [formGroup]="formContato">

    <div class="mb-3">
      <label class="form-label">Nome</label>
      <input
        type="text"
        class="form-control"
        formControlName="nome">
    </div>

    <div class="mb-3">
      <label class="form-label">Telefone</label>
      <input
        type="text"
        class="form-control"
        formControlName="telefone">
    </div>

    <div class="mb-3">
      <label class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        formControlName="email">
    </div>

    <div class="mb-3">
      <label class="form-label">Aniversário</label>
      <input
        type="date"
        class="form-control"
        formControlName="aniversario">
    </div>

    <div class="mb-3">
      <label class="form-label">Tipo</label>

      <select
        class="form-select"
        formControlName="tipo">

        <option value="">Selecione</option>

        @for(tipo of tipos; track tipo){
        <option [value]="tipo">
          {{ tipo }}
        </option>
      }

      </select>
    </div>

    <button
      type="button"
      class="btn btn-primary"
      [disabled]="formContato.invalid"
      (click)="adicionarContato()">

      Adicionar Contato

    </button>

  </form>

  <hr>

  <h3>Contatos Cadastrados</h3>

  @if(contatos.length > 0){

    <table class="table table-striped">

      <thead>
        <tr>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Email</th>
          <th>Aniversário</th>
          <th>Tipo</th>
        </tr>
      </thead>

      <tbody>

        @for(contato of contatos; track $index){

          <tr>
            <td>{{ contato.nome }}</td>
            <td>{{ contato.telefone }}</td>
            <td>{{ contato.email }}</td>
            <td>{{ contato.aniversario }}</td>
            <td>{{ contato.tipo }}</td>
          </tr>

        }

    </tbody>

  </table>
  }
</div>