<div class="container mt-4">

  <h3>Contatos Cadastrados</h3>

  @if(contatos.length > 0){

    <table class="table table-striped">

      <thead>
        <tr>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Email</th>
          <th>Aniversário</th>
          <th>Tipo</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>

        @for(contato of contatos; track contato.email){

          <tr>
            <td>{{ contato.nome }}</td>
            <td>{{ contato.telefone }}</td>
            <td>{{ contato.email }}</td>
            <td>{{ contato.aniversario }}</td>
            <td>{{ contato.tipo }}</td>

            <td>
              <button
                class="btn btn-danger btn-sm"
                (click)="removerContato(contato)">
                Remover
              </button>
            </td>

          </tr>

        }

      </tbody>

    </table>

  } @else {

    <div class="alert alert-info">
      Nenhum contato cadastrado.
    </div>

  }

</div>